<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-image: url("http://imgur.com/Fcw0g4Y.jpg");
      background-size: 100%;
    }
  </style>
  <title>Malaika fotografia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="social-links">
    <a class="social-buttons" href="https://www.facebook.com/pages/Malaika/710913402289073?fref=ts" target="_blank"><img src="https://imgur.com/u4ScU7w.png" alt="Facebook" style="width:40px;height:40px"></a>
    <a class="social-buttons" href="http://instagram.com/malaikafoto" target="_blank"><img src="https://imgur.com/Rie35bS.png" alt="Instagram" style="width:40px;height:40px"></a>
    <a class="social-buttons" href="https://twitter.com/malaikafoto" target="_blank"><img src="https://imgur.com/rOKvzwL.png" alt="Twitter" style="width:40px;height:40px"></a>
  </div>

  <div class="navbar-home">
    <a class="image-link" href="/"><img src="https://imgur.com/e43WJHc.png" alt="Malaika" style="width:267px;height:138px"></a>
    <ul>
      <li><a href="/">Portfolio</a>
      <li><a href="/">Sesiones</a>
      <li><a href="/">Sobre mi</a>
      <li><a href="/">Contacto</a>
    </ul>
  </div>

</body>
</html>



